{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" type="text/css" href=" {% static 'products/css/main.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'products/css/nuevocss.css/css/Vlogin.css' %}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
    <title>registrate</title>
</head>

<body class="body" >

<!-- <div class=volver>
    <div class="volver1">
        <a href="home.html">Volver</a>
    </div>
</div> -->


<div class="login">
<input type="checkbox" id="check">
    <div class="container">
        <div class="login page">
            <div class="heading"> <a href="#" class="navbar-brand "> Coden <b style="color: rgb(4, 253, 4);">S</b>olar </a>  </div>
            <form  method="post">
                {% csrf_token %}
                <div class="entryarea">
                    {{form.username}}
                    <div class="labelline">Nombre de usuario</div>
                </div>
                <div class="entryarea">
                    {{form.name}}
                    <div class="labelline">Nombres</div>
                </div>
                <div class="entryarea">
                    {{form.lastname}}
                    <div class="labelline">Apellidos</div>
                </div>
                <div class="entryarea">
                    {{form.email}}
                    <div class="labelline">Correo electronico</div>
                </div>
                <div class="entryarea">
                    {{form.telephone}}
                    <div class="labelline">Telefono</div>
                </div>
                <div class="entryarea">
                    {{form.password1}}
                    <div class="labelline">Contraseña</div>
                </div>
                <div class="entryarea">
                    {{form.password2}}
                    <div class="labelline">Repita su Contraseña</div>
                
                </div>
                <input type="submit" value="ingresar" id="btn">
                
            </form>
        </div>



        <div class="signup page">
            <div class="heading">Registrarse</div>
            <form action="#">
                <div class="entryarea">
                    <input type="text" required>
                    <div class="labelline">Ingresa tu Nombre</div>
                </div>
                <div class="entryarea">
                    <input type="email" required>
                    <div class="labelline">Ingresa tu Correo</div>
                </div>
                <div class="entryarea">
                    <input type="password" required>
                    <div class="labelline">Ingresa tu Contraseña</div>
                </div>
                <input type="submit" value="ingresar" id="btn">
                <div class="switch">
                    <span>¿Ya tienes cuenta?</span>
                    <label for="check">Ingresa AHORA</label>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="{% static 'products/js/Newjs/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'products/js/Newjs/NVProducts.js' %}"></script>

</body>
</html>