<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'products/css/pdfgpt.css' %}">
<html>

<head>
    <style>
        @page {
        size: A4 portrait;
        margin: 2%;
            
        }
        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin: 2%;
        }


    </style>
    <title class="title1" >Cotización de Kit de Equipos Solares</title>
</head>
<body>
    
    <div>
        <table style="width: 100%;">
            <br>
            <hr size="5px" color="green" />
            <tr style="height: 180px;">
                <th style="width: 100%;height: 180px;"><img src="{{direccion_ip}}media/pdf/logo.png" alt="" height="200px" width="200px"></th>
            </tr>
            <tr>
                <th style="width: 100%;height: 15px;">
                    <h3>NIT No. 900.586.332-1 </h3>
                </th >
            </tr>
            <tr>
                <th>
                    <h2 >detalle de tu compra</h2>
                </th>
            </tr>
            
            
        </table>
    </div>

    <!-- tabla de toda la cotizacion -->
    <div style="margin: 4%">
        <h1 style="margin-left: 270px; color: #202f46;">REQUERIMIENTOS DE TUS KITS</h1>
        <h1 style="margin-left: 150px; color: green;">CONDENSOLAR COMPROMETIDOS CON EL MEDIO AMBIENTE</h1>
        <table style="width: 95%;">
            <th >
                <table style="border: 2px solid green; height: 25px;text-align: center;padding-top: 3px;font-size: 12px;margin: 1%; border-radius:10px;">
                    <br>
                    <hr size="2px" color="blue" />
                    <br>
                    <tr>
                        <th style="width: 50%; background-color: #202f46; color:azure; font-weight:bold;letter-spacing: 2px; ">
                            Elemento
                        </th>
                        <th style="width: 10%;background-color: #202f46; color:azure; font-weight:bold;letter-spacing: 2px;">
                            Cantidad
                        </th>
                        <th style="width: 20%;background-color: #202f46; color:azure; font-weight:bold;letter-spacing: 2px;">
                            Precio Unitario
                        </th>
                        <th style="width: 20%;background-color: #202f46; color:azure; font-weight:bold;letter-spacing: 2px;">
                            Precio Total
                        </th>
                    </tr>
                    
                    {% for p in productos  %}
                        
                    <tr>
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{p.name}}
                        </td>

                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{p.amount}}
                        </td>
                        
                        <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{p.price}}
                        </td>
<!-- 
                        <td style="margin: 5px;background-color: #56b17d62; color:azure; font: weight 600px;">
                        $ {{p.total}}
                        </td> -->

                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            $ {{p.total}}
                        </td>

                    </tr>
                    {% endfor %}
                    <tr>
                        
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{p.panel}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{p.amount}}
                        </td>
                        <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{p.panel_precio_u}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                        $ {{p.panel_precio_t}}
                        </td>
                        
                            
                    </tr>
        
                    <tr>
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{b.bateria}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{b.amount}}
                        </td>
                        <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{b.bateria_precio_u}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                        $ {{b.bateria_precio_t}}
                        </td>
                    </tr>

                    <!-- problemas letra -->
                    <tr>    
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{r.regulador}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{r.amount}}
                        </td>
                        <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{r.regulador_precio_u}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                        $ {{r.regulador_precio_t}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{br.breakers}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{br.amount}}
                        </td>
                        <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{br.breakers_precio_u}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                        $ {{br.breakers_precio_t}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{rc.rubberized_cable_needed}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{rc.amount}}
                        </td>
                        <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{rc.rubberized_cable_needed_precio_u}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                        $ {{rc.rubberized_cable_needed_precio_t}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                            {{sp.soporte_panel}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{sp.amount}}
                        </td>
                        <td style=" background-color: #7b8faf; color:azure; font-weight:bold; ">
                        $ {{sp.soporte_panel_precio_u}}
                        </td>
                        <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                        $ {{sp.soporte_panel_precio_t}}
                        </td>
                    </tr>
<!-- aqui  -->

                    <tr>
                        <td style="width: 50%; background-color:#7b8faf; color:azure; font-weight:bold; ">
                            {{gsk.ground_security_kit_needed}}
                        </td>
                        <td style="background-color: #5e6d85; color:azure; font-weight:bold; ">
                            {{gsk.amount}}
                        </td>
                        <td style=" background-color: #7b8faf; color:azure; font-weight:bold; ">
                            $ {{gsk.ground_security_kit_needed_precio_u}}
                        </td>
                        <td style="background-color: #5e6d85; color:azure; font-weight:bold; ">
                            $ {{gsk.ground_security_kit_needed_precio_t}}
                        </td>
                    </tr>

                        <tr>

                            <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                                {{pu.power_units_needed}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                {{pu.amount}}
                            </td>
                            <td style=" background-color: #7b8faf; color:azure; font-weight:bold; ">
                                $ {{pu.power_units_needed_precio_u}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                $ {{pu.power_units_needed_precio_t}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                                {{tr.terminals_needed}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                {{tr.amount}}
                            
                            <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                                $ {{tr.terminals_needed_precio_u}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                $ {{tr.terminals_needed_precio_t}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                                {{co.connector_needed}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                {{co.amount}}
                            </td>
                            <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                                $ {{co.connector_needed_precio_u}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                $ {{co.connector_needed_precio_t}}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                                {{vc.vehicle_cable_needed}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                {{vc.amount}}
                            </td>
                            <td style="background-color: #7b8faf; color:azure; font-weight:bold; ">
                                $ {{vc.vehicle_cable_needed_precio_u}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                $ {{vc.vehicle_cable_needed_precio_t}}
                            </td>
                        </tr>

<!-- aqui  -->

                        <tr>
                            <td style="width: 50%; background-color: #7b8faf; color:azure; font-weight:bold; ">
                                {{cm.centralized_modules_needed}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                {{cm.amount}}
                            </td>
                            <td style=" background-color: #7b8faf; color:azure; font-weight:bold; ">
                            $ {{cm.centralized_modules_needed_precio_u}}
                            </td>
                            <td  style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                            $ {{cm.centralized_modules_needed_precio_t}}
                            </td>
                        </tr>






                        <tr>
                            <th style="margin: 5px;background-color: #7b8faf; color:azure; font-weight:bold;">
                                <h3>Precio Premium M. Centralizado </h3>
                            </th>
                            <td style="margin: 5px; background-color: #5e6d85; color:azure; font-weight:bold; ">
                                $ {{total.total_u}}  


                                <!-- poner precio premium  -->


                                
                            </td>
                            <td style="margin: 5px;background-color: #1e293b; color:azure; font-weight:bold;">
                                <h1>total</h1>
                            </td>
                            <td  style="margin: 5px; background-color:#1e293b; color:azure; font-weight:bold; ">
                                $ {{total.total}}
                            </td>
                        </tr>
        
                </table>
            </div>
            </th>
        </table>
        
    
    


    <!-- productos arriba -->

    <div i="tabla-productos">
        {% for p in productos %}
        <table>
        <br>
            <tr >
                <th style="margin: 5px; width: 150px;height: 200px;"><img src="{{direccion_ip}}media/{{p.imagen}}" alt=""></th>
                <th style="width: 80%; ">
                    <!-- style="margin: 5%;border: 2px solid #0F172A; height: 25px;text-align: center;padding-top: 3px;font-size: 12px;margin: 1%; border-radius:10px; " -->
                    <table style="margin-left:150px;border: 2px solid #0F172A; height: 25px;text-align: center;padding-top: 3px;font-size: 12px;margin: 1%; border-radius:10px; ">
                        <tr>
                            <th style="color:azure; background-color: #1E293B; font-weight:bold;">Producto</th>
                            <th style="color:azure; background-color: #1E293B; font-weight:bold;">Cantidad</th>
                            <th style="color:azure; background-color: #1E293B; font-weight:bold;">Precio Unitario</th>
                            <th style="color:azure; background-color: #1E293B; font-weight:bold;">Precio Total</th>
                        </tr>
                        <tr>
                            <td style="font-weight:bolder;">{{p.name}}</td>
                            <td >{{p.amount}} </td>
                            <td >$ {{p.price}} </td>
                            <td >$ {{p.total}} </td>
                        </tr>
                        <tr>
                            <td><div class="segunda-fila"></div></td>
                        </tr>
                        
                        <tr>
                            <th style="background-color: #1E293B; color:azure; font-weight:bold;">Consumo/h </th>
                            <th style="background-color: #1E293B; color:azure; font-weight:bold;">Consumo Dia</th>
                            <th style="background-color: #1E293B; color:azure; font-weight:bold;">Perdidas {{p.porcentaje}}% </th>
                            <th style="background-color: #1E293B; color:azure; font-weight:bold;">Total Mas Perdidas</th>
                        </tr>
                        <tr>
                            <td>{{p.consumo_h}} W</td>
                            <td>{{p.consumo_D}} W </td>
                            <td>{{p.perdidas}} W</td>
                            <td>{{p.total_MP}} W</td>
                        </tr>
                        <!-- Agrega más filas para cada producto aquí -->
                        
                    </table>
                    
                </th>
                
            </tr>
        </table>
        <br>
        <hr size="2px" color="blue" />
        <br>
        {% endfor %}
    </div>

    <!-- REQUIERMENTS  -->

    <div>
        <h1 style="margin-left:10px;color:#0F172A;">Totales:Consumo por hora {{consumos.total_consumo_hr}} W/h <br> Consumo Dia {{consumos.total_consumo_day}} W   <br> perdidas {{consumos.total_perdidas}} W <br> total consumo {{consumos.total_consumo}} W</h1>
        <div>
            <br>
            <hr size="2px" color="black" />
            <br>
            <h1 style="margin-left:300px;; color:green ;">Equipos Solares</h1>
            <table>

                <tr>
                    <th style="height: 120px;width: 120px;">
                        <img src="{{direccion_ip}}media/pdf/panel.svg" alt="" height="120px" width="120px">
                    </th>
                    <th >
                        <!-- <table style="margin: 5%;border: 2px solid #0F172A; height: 25px;text-align: center;padding-top: 3px;font-size: 12px;margin: 1%;  border-radius:10px;"> -->
                        <table >
                            <tr>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Panel</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Cantidad</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Potencia dia</th>
                            </tr>
                            <tr >
                                <td>{{p.panel}}</td>
                                <td >{{p.amount}}</td>
                                <td>{{p.panel_potencia_dia}} W</td>
                            </tr>
                            <tr >
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Potencia/h</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Precio unitario</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Precio total</th>
                            </tr>
                            <tr>
                                <td >{{p.panel_potencia}} W/h</td>
                                <td>$ {{p.panel_precio_u}}</td>
                                <td>$ {{p.panel_precio_t}}</td>
                        </table>
                    </th>

                    <th style="width: 120px;height: 120px;">
                        <img src="{{direccion_ip}}media/pdf/battery.svg" alt="" height="120px" width="120px">
                    </th>
                    <th>
                        <table >
                            <tr>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Bateria</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Cantidad</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Capacidad total</th>
                            </tr>
                            <tr>
                                <td>{{b.bateria}}</td>
                                <td>{{b.amount}}</td>
                                <td>{{b.bateria_capacidad}} A</td>
                                
                            </tr>
                            <tr>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Capacidad</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Precio unitario</th>
                                <th style="width: 90px; color: #1E293B; font-weight:bolder;">Precio total</th>
                            </tr>
                            <tr>
                                <td>{{b.bateria_capacidad_t}} A/h</td>
                                
                                <td>$ {{b.bateria_precio_u}}</td>
                                <td>$ {{b.bateria_precio_t}}</td>
                        </table>
                    </th>
                </tr>

            </table>
            <br>
            <hr size="5px" color="green" />
            <br>
        </div>
    </div>

    
    
</body>
</html>